.navbarPag4{
    display: grid;
    grid-template-columns: 30% 70%;
}
.FormNav{
    text-align: right;
    padding: 10px 10px 0px 0px;
}

.CampoBuscar{
    height: 30px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 5px;
}

.BotonBuscar{
    height: 30px;
    width: 60px;
    background-color: #E64848;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

/**Slider**/
.SliderGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 10px 10px 10px;
    text-align: center;
    row-gap: 10px;
}

.ImagenSlider{
    width: 80px;
    border-radius: 10px;
}

.SliderGrid div:hover{
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.SliderGrid h3{
    font-size: 12px;
    color: gray;
}

/*Negocios*/
.Filtro{
    margin: 10px 0px 10px 15px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    padding-left: 7px;
    font-size: 14px;
    background-color: #E5E5E5;
    border: none;
}


/** Lista destacados **/
.ListaDestacados {
    padding: 10px;
    display: grid;
    justify-content: center;
    row-gap: 20px;
}

.ElementoDestacados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(102, 68, 0, 0.3);
}

.ImagenComercio {
    border-radius: 20px 0 0 20px;
}

.TituloComercio {
    font-size: 20px;
}

.TextoEnvio {
    font-size: 18px;
}

.TextoUbicacion {
    font-size: 16px;
}

.TextoHorario {
    font-size: 16px;
}

.DivInformacion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.TituloElementosDestacados {
    margin: 15px;
    color: #E64848;
}

.InfoPiePagina{
    display: none;
}


@media (min-width: 1200px) {
    .navbarPag4{
        display: block;
    }
    .FormNav{
        text-align: left;
        margin-left: 20px;
    }

    .ListaDestacados {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        column-gap: 30px;
        margin: 40px;
    }
    
    .ElementoDestacados {
        height: 300px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;
        justify-content: center;
    }

    .ImagenComercio{
        width: 100%;
        height: auto;
        border-radius: 20px 20px 20px 20px;
    }

    .InfoComercio{
        margin-left: 10px;
    }
    
    .CampoBuscar{
        width: 250px;
        font-size: 18px;
    }
    
    .BotonBuscar{
        width: 70px;
        font-size: 18px;
    }

    .InfoPiePagina{
        display: block;
    }

    .SliderGrid{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(8, 1fr);
        margin-top: 40px;
    }

    .ImagenSlider{
        width: 150px;
    }
    
    .SliderGrid h3{
        font-size: 16px;
    }

    .Filtro{
        margin: 40px 0px 10px 50px;
        height: 50px;
        width: 190px;
        font-size: 18px;
    }

    .TituloElementosDestacados{
        margin: 25px 0px 10px 50px;
        font-size: 22px;
    }

    .InfoBeneficios{
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .InfoBeneficios p{
        margin: 10px 0px 10px 0px;
    }

    .InfoBeneficios h1{
        font-size: 28px;
        font-style: italic;
        color: #E64848;
    }

    .InfoBeneficios h2{
        font-size: 20px;
        color: #E64848;
    }

    hr{
        margin: 50px 100px 50px 100px;
    }
}