.HeaderCarrito{
    background-color: #C21010;
    height: 40px;
    display: grid;
    place-content: center;
}

.LogoHeader{
    width: 80px;
    text-align: center;
}

.NegocioCarrito{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}

.ImgComercio{
    width: 80px;
}

.ProductosCarrito{
    background-color: white;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    border-radius: 10px;
}

.ImagenProducto{
    display: none;
}

.BotonMasProductos{
    margin: 0px 20px 20px 20px;
    height: 40px;
    width: 335px;
    background-color: #E64848;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

.BotonMasProductos:hover{
    background-color: #C21010;
}

.BotonPedido{
    margin: 0px 20px 20px 20px;
    height: 40px;
    width: 335px;
    background-color: #C21010;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

.BotonPedido:hover{
    background-color: #E64848;
}

.EntregaCarrito{
    background-color: white;
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.MapaDireccion{
    border-radius: 10px
}

.MetodoPago{
    background-color: white;
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
}

.ResumenPedido{
    background-color: white;
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px;
}

.SubtotalCarrito {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    text-align: center;
    margin: 0 20px 20px 20px;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    
    .GridCarrito{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 1fr 60px 60px 170px 180px;  /*repeat(5, 1fr); */
        grid-template-areas: 
            "negocio  negocio   resumen"
            "productos  productos  finalizar"
            "subtotal subtotal ."
            "masproductos masproductos ."
            "entrega   entrega     ."
            "pago      pago      .";
    }

    .NegocioCarrito{
        grid-area: negocio;
    }

    .ProductosCarrito{
        grid-area: productos;
        display: grid;
        grid-template-columns: 20% 60% 10% 10%;
    }

    .DivVacio{
        display: none;
    }

    .AgregarProducto{
        grid-area: masproductos;
        text-align: center;
    }
    .EntregaCarrito{
        grid-area: entrega;
    }
    .MetodoPago{
        grid-area: pago;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .ResumenPedido{
        grid-area: resumen;
        margin-top: 20px;
    }
    .FinalizarCarrito{
        grid-area: finalizar;
        text-align: center;
    }
    .SubtotalCarrito {
        grid-area: subtotal;
    }
    

    .ImagenProducto{
        display: block;
    }
    
    .MapaDireccion{
        width: 420px;
        height: auto;
    }

    .CambiarDireccion{
        margin-top: 70px;
    }
}

